form.astrails_form {
	margin:2em 0 0 0;
	padding:0 1em;	
}

form.astrails_form div {
	margin:1.6em 0 0.3em 0;
}

form.astrails_form label {
	color:#666;
	font-size:93%;
	margin-bottom:0.3em;
	display:block;
}

form.astrails_form label.sameline {
	display:inline-block;
	padding-left:1em;
}

form.astrails_form em {
	display:block;
	color:#fe0000;
	margin-bottom:0.3em;
	font-size:85%;
}

form.astrails_form .text {
	padding:0.3em;
	width:25em;
	border:1px solid #999;
	font-size:131%;
}

form.astrails_form .text:focus {
	background:#fec;
}

form.astrails_form textarea.text {
	height:10em;
}

form.astrails_form div.error .text, form.astrails_form div.error textarea.text {
	border:1px solid #fe0000;
}

form.astrails_form div.submit {
	border-top:2px solid #424242;
	margin:2em 0;
	padding:1em 0;
}

form.astrails_form div.submit a, form.astrails_form div.submit input {	
	float:left;
}

form.astrails_form div.submit a {
	padding:0.8em 0 0 2em;
	display:block;
}

form.astrails_form div.submit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
